ion-content{
  --background: url('https://w0.peakpx.com/wallpaper/355/178/HD-wallpaper-sunset-mountains-cartoon-nature-beautiful-sun-trees-iphonexs-ios-stars-thumbnail.jpg') 0 0/100% 100% no-repeat;
  --overflow: hidden;
  height: 100%;
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;

    ion-item{
        --background: transparent;
        --border-style: none;
        ion-label{
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        ion-input{
            font-size: 15px;
            font-weight: 500px; 
            --background: #999;
            --border-radius: 50px;
            --padding-start: 20px;
            --padding-end: 20px;
            --color: #fff;
        }
    }

    ion-button{
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
        --background: #99BC85;
        --border-radius: 25px;
        
        &:disabled {
            --background: #E4EFE7;
            --color: #9e9e9e;
        }
    }
  }
  
}


